@import "variables";
@import "mixins";



.deep-house{
  color: $deep-house-color; 
}
.progressive{
  color: $progressive-color; 
}
.drum-bass{
  color: $drum-bass-color;
}
.dreamstep{
  color: $dreamstep-color;
}

.subdued{
  color: #999;
}
.more-subdued{
  color: #bbb;
}

.way-subdued{
  color: $way-subdued;
}


header .section-gradient{
  
  height: 140px;
}
.content-section {
  padding-top: 200px;
  &#mixes{
    padding-top: 100px;
  }
}

section#waves
{
  margin-top: 80px;
}

#about.content-section {
  padding-top: 140px;
}

.navbar-brand{

  .name-wrapper{
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);

    .video-wrapper{
      position: absolute;
      top: -4px;
      left: 3px;
      z-index: -1;

      video.name-waves{
        max-width: 202px;
      }
    }


  }  

}

video.section-waves{
  width: 100% !important;
  height: auto;
}

@media (min-width: 768px){


  .intro .intro-body .brand-heading {
    color: white; 
    font-size: 80px;
  }
}


h2{
  margin-bottom: 10px;
}

.mix{

  h3{
    margin-bottom: 11px;
  }

  .h3,
  .h5{
    font-weight: normal;
  }

  .date{
    font-style: italic;  
  }
}
hr{
  width: 69px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-top: 2px solid $progressive-color;
}


/* Audio player overrides */

.cp-controls li a
{
  transition: none;
}
.cp-container{
  height: 200px;
  min-width: 200px;
  margin: -38px auto 0;
  background-position-y: -30px;
  padding: 18px 48px;
}