@import "variables";
@import "mixins";



.deep-house{
  color: $deep-house-color; 
}
.progressive{
  color: $progressive-color; 
}
.drum-bass{
  color: $drum-bass-color;
}
.dreamstep{
  color: $dreamstep-color;
}

.subdued{
  color: #999;
}
.more-subdued{
  color: #bbb;
}

.way-subdued{
  color: $way-subdued;
}


header .section-gradient{
  
  height: 140px;
}
.content-section {
  padding-top: 200px;
  &#mixes{
    padding-top: 100px;
  }
}

#about.content-section {
  padding-top: 140px;
}

.navbar-brand{

  .name-wrapper{
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
 
    .video-wrapper{
      position: absolute;
      top: -4px;
      left: 3px;
      z-index: -1;

      video.name-waves{
        max-width: 202px;
      }
    }
  }  
}

section#waves
{
  margin-top: 80px;
  margin-bottom: 120px;
  position: relative;

  .wave-row{

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;

    .mixes-title{
      position: absolute;
      width: 100%;    
      z-index: 100;
      text-align: center;
      top: 27px;
    }

    .wave-wrapper{

      overflow: hidden;
      position: relative;

      .wave-gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

      }
      .left-gradient{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+50,1+99 */
        background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

      }
      .right-gradient{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+50 */
        background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

      }

      video.section-waves{
        width: 100% !important;
        height: auto;

        // position: relative;

        &.left{
          left: 3px;
        }
        &.right{
          left: -3px;
        }


        &.rev{
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
      }
    }
  }

}

@media (min-width: 768px){

  .intro .intro-body .brand-heading {
    color: white; 
    font-size: 80px;
  }
}


h2{
  margin-bottom: 10px;
}

.mix{

  margin-bottom: 50px;

  h3{
    margin-bottom: 11px;
  }

  .h3,
  .h5{
    font-weight: normal;
  }

  .date{
    font-style: italic;  
  }
}
hr{
  width: 69px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-top: 2px solid $progressive-color;
}


/* Audio player overrides */

.cp-controls li a
{
  transition: none;
}
.cp-container{
  height: 135px;
  min-width: 200px;
  margin: -38px auto 0;
  background-position-y: -30px;
  padding: 18px 48px 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}