<!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->

{{#each mixes}}
  <div id="jquery_jplayer_{{slug}}" class="cp-jplayer"></div>
{{/each}} 